---
---
<style>
  .grid-container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    /* grid-template-rows: auto auto auto auto; */
    gap: .5em;
    background-color: #999;
    padding: .5em;
  }

  .grid-container>div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-size: 30px;
    overflow: hidden;
  }

  .grid-container>.square {
    grid-column: span 2;
    grid-row: span 2;
    aspect-ratio: 1;
  }

  .grid-container>.vertical {
    grid-column: span 1;
    grid-row: span 2;
    aspect-ratio: 1/2;
  }
</style>

<div class="gallery">
  <div class="grid-container">
    {% for post in include.posts %}
      {% if post.tags contains "devlog" %}
      <div class="square">
        {% include preview-post.html post=post %}
      </div>
      {% elsif post.tags contains "devshort" or post.tags contains "artshort" %}
      <div class="vertical">
        {% include preview-short.html post=post %}
      </div>
      {% endif %}
    {% endfor %}
  </div>
</div>