<div class="gallery">
  <div class="grid-container">
    {% for post in include.posts %}
      {% if post.tags contains "devlog" or post.tags contains "release" %}
      <div class="square">
      {% elsif post.tags contains "devshort" or post.tags contains "artshort" %}
      <div class="vertical">
      {% else %}
      <div>
      {% endif %}
      {% if post.tags contains "devshort" or post.tags contains "artshort" %}
      {% assign video = true %}
      {% else %}
      {% assign video = false %}
      {% endif %}
      {% include preview-post.html post=post video=video %}
      </div>
    {% endfor %}
  </div>
</div>