<div class="gallery">
  <div class="grid-container">
    {% for post in include.posts %}
      {% if post.tags contains "devlog" or post.tags contains "release" %}
      <div class="square">
      {% elsif post.tags contains "devshort" or post.tags contains "artshort" %}
      <div class="vertical">
      {% elsif post.tags contains "announcement" %}
      <div class="horizontal">
      {% elsif post.tags contains "about" %}
      <div class="breaker">
      {% else %}
      <div>
      {% endif %}

      {% if post.tags contains "devshort" or post.tags contains "artshort" %}
        {% assign video = true %}
      {% else %}
        {% assign video = false %}
      {% endif %}

      {% if post.tags contains "announcement" or post.tags contains "about" %}
        {% assign show_tags = false %}
        {% assign show_date = false %}
        {% assign show_project = false %}
      {% else %}
        {% assign show_tags = include.show_tags %}
        {% assign show_date = true %}
        {% assign show_project = include.show_project %}
      {% endif %}

      {% if post.tags contains "about" %}
        {% assign detailed = true %}
      {% else %}
        {% assign detailed = false %}
      {% endif %}

      {% include preview-post.html post=post detailed=detailed video=video show_project=show_project show_tags=show_tags show_date=show_date %}
      </div>
    {% endfor %}
  </div>
</div>