<style>
    #{{ include.post.slug }} {
        background-image: url("{{ include.post.image }}");
    }
</style>

<div class="post-preview" id="{{include.post.slug}}">
    {% if include.video %}
    <span class="post-preview-icon material-symbols-sharp">
        play_arrow
    </span>
    {% endif %}
    {% if include.detailed %}
    <div class="post-preview-fade"></div>
    <div class="post-preview-body">
        <h2>{{ include.post.short_title }}</h2>
        <p>{{ include.post.excerpt | markdownify }}</p>
    </div>
    {% endif %}
    <!-- TODO: play button para shorts -->
    <a class="post-preview-link" href="{{site.baseurl}}{{include.post.url}}"></a>
    {% include post-identifier.html post=post show_project=include.show_project %}
</div>