<style>
    #{{ include.post.slug }} {
        background-image: url("{{ site.baseurl }}/assets/posts/{{ include.post.date | split: ' ' | first }}-{{ include.post.slug }}.jpeg");
    }
</style>

<div class="post-preview" id="{{include.post.slug}}">
    <div class="post-preview-fade"></div>
    <div class="post-preview-body">
        <h2>{{ include.post.title }}</h2>
        <p>{{ include.post.excerpt | markdownify }}</p>
    </div>
    <!-- TODO: play button para shorts -->
    <div class="post-preview-link" onclick="location.href='{{site.baseurl}}{{include.post.url}}'"></div>
    {% include post-identifier.html post=post %}
</div>