::-webkit-scrollbar {
    width: 0; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
}

:root {
    --stage-height: min(33vh, 75vw);
    
    --front-cube-lenght: calc(var(--stage-height) - (var(--sky-padding-vertical) * 2));
    --front-cube-stickout: 5vh;
    --front-cube-offset: 10vw;
    
    --sky-padding-vertical: 4vh;
    --sky-padding-horizontal: max(calc(var(--sky-padding-vertical)/2), calc((100vw - 1024px) / 2));

    --sky-colour-fade-up: blue;

    --sky-colour-hue: 217deg;
    --sky-colour: hsl(var(--sky-colour-hue) 60% 72%);
    --sky-colour-right-facing: hsl(var(--sky-colour-hue) 59% 65%);
    --sky-colour-left-facing: hsl(var(--sky-colour-hue) 66% 77%);
    --sky-colour-bottom-facing: hsl(var(--sky-colour-hue) 50% 55%);

    --font-colour: ghostwhite;
}

@media screen and (orientation: landscape) {
    :root {
        --front-cube-offset: var(--front-cube-lenght) ;
    }
}

body {
    font-family: "Coda";
    margin: 0;
    background-color: var(--sky-colour);
}

/* pieces-of-the-sky */
.stage {
    width: 100%;
    height: var(--stage-height);

    perspective: 4269px;
    perspective-origin: 50% 1152px;

    background-color: var(--sky-colour);
    background-image: linear-gradient(var(--sky-colour-right-facing), transparent);
}

face {
    display: block;
    position: absolute;
}

mesh {
    -webkit-transform-style: preserve-3d;
    position: absolute;
}

.cube-primary {
    transform: translateX(calc(50vw - var(--front-cube-offset))) translateZ(var(--front-cube-stickout)) rotateY(30deg) translateY(var(--sky-padding-vertical));
    /* transform-origin: 0 0; */
}

.cube-secondary {
    transform: translateX(calc(50vw + var(--front-cube-offset))) translateZ(var(--front-cube-stickout)) rotateY(70deg) translateY(var(--sky-padding-vertical));
    /* transform-origin: 0 0; */
}

.cube-secondary>.front{
    transform: rotateY(-90deg) translateX(calc(var(--front-cube-lenght)* -1));
    transform-origin: 0 0;
}

.cube-face {
    width: var(--front-cube-lenght);
    height: var(--front-cube-lenght);
    z-index: 0;
}

.cube-face.front {
    background-color: var(--sky-colour);
}

.cube-face.left {
    background-color: var(--sky-colour-left-facing);

    -webkit-transform-origin: 100%;
    -webkit-transform: translateX(calc(var(--front-cube-lenght) * -1)) rotateY(270deg);
}

.cube-face.right {
    background-color: var(--sky-colour-right-facing);
}

.cube-face.bottom {
    background-color: var(--sky-colour-bottom-facing);

    height: var(--front-cube-lenght);

    -webkit-transform-origin: 0 0 0;
    -webkit-transform: rotateX(-90deg) translateZ(calc(var(--front-cube-lenght)));
}

/* second cube */
.cube-secondary {
    display: none;
}

@media screen and (orientation: landscape) {
    .cube-primary > .cube-face.left > div {
        display: none;
    }
    .cube-secondary {
        display: unset;
    }
}

/* sky-content */
.absolute-bottom-right {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0.5em 1em;
}

.absolute-bottom-left {
    position: absolute;
    inset: auto 0 0;
    padding: 0.5em;
}

.h1-no-margin {
    font-size: calc(var(--front-cube-lenght) * .3);
    line-height: .9em;
    font-weight: bolder;
}

.h2-no-margin {
    font-size: calc(var(--front-cube-lenght)* 0.1);;
    line-height: .9em;
}

a {
    color: var(--sky-colour-bottom-facing);
    text-decoration: none;
}

.button {
    cursor: pointer;
}

.text-align-right {
    text-align: right;
}

/* worlds-edge */

.sky-edge {
    -webkit-transform-style: preserve-3d;
    -webkit-transform: translateY(calc(var(--sky-padding-vertical) + var(--front-cube-lenght)));
}

.sky-edge > .right {
    -webkit-transform: translateX(calc(100vw - var(--sky-padding-horizontal))) translateY(calc(var(--front-cube-lenght) * -1));
}

.sky-edge > .left {
    -webkit-transform: translateX(var(--sky-padding-horizontal)) translateY(calc(var(--front-cube-lenght) * -1));
}

.sky-edge > face {
    height: calc(var(--sky-padding-vertical) * 2);
    width: 100vw;
    background-color: var(--sky-colour);
}

.sky-edge > mesh > face {
    height: var(--front-cube-lenght);
}

.sky-edge > mesh > .side {
    width: var(--front-cube-lenght);
    background-color: var(--sky-colour-left-facing);
    -webkit-transform: rotateY(90deg);
    -webkit-transform-origin: 0 0;
}

.sky-edge > mesh > .front {
    width: var(--sky-padding-horizontal);
    background-color: var(--sky-colour);
}

.sky-edge > .left > .front {
    -webkit-transform: translateX(calc(var(--sky-padding-horizontal) * -1));
}

.sky-edge > .left > .side {
    background-color: var(--sky-colour-right-facing);
}

.content {
    padding: 0 var(--sky-padding-horizontal);
    color: var(--font-colour);
    margin: auto;

    position: relative;
    z-index: 1;
}

footer {
    background-image: linear-gradient(transparent, var(--sky-colour-left-facing));
    color: var(--sky-colour-bottom-facing);

    position: relative;
    z-index: 1;
}

.author {
    padding-inline: 1em;
}

.links > a > img {
    padding-inline: 0.5em;
    align-self: center;
    max-height: 2em;
}

/* markup */
.h {
    margin: 0 0;
    text-transform: uppercase;

    color: var(--font-colour) !important;
}

h1, h2 {
    color: var(--sky-colour-bottom-facing);
}

h3 > em {
    color: var(--sky-colour-right-facing);
}

blockquote {
    color: var(--sky-colour-bottom-facing);
}