:root {
    --gallery-columns: 3;
}

@media screen and (min-width: 1024px) {
    :root {
        --gallery-columns: 6;
    }
}

body {
    min-height: 100vh;
    position: relative;
}

/* content */
.content {
    font-size: 2em;
}

@media screen and (min-width: 1024px) {
    .content {
        font-size: 1.5em;
    }
}

.content {
    padding-bottom: 6em;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    padding-top: 4em;
    padding-bottom: 2em;

    place-content: center;
    display: flex;

    font-size: 1.5em;

    margin-top: auto;
}

@media screen and (min-width: 1024px) {
    footer {
        font-size: 1em;
    }
}

footer > div {
    display: flex;
    align-self: center;
}

footer > .links > a > img {
    vertical-align: middle;
}

/* helpers */

.no-margin-top {
    margin-top: 0;
}

/* post preview */
.post-preview {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    color: white;

    position: relative;
}

.post-preview-link {
    position: absolute;
    cursor: pointer;
    inset: 0;
}

.post-preview-link,
.post-preview-fade,
.post-preview-body {
    position: absolute;
    inset: 0;
}

.post-preview-body {
    padding-left: 1em;
    padding-right: 1em;
    width: auto;
    height: 100%;
    font-size: 1.25em;
}

@media screen and (min-width: 1024px) {
    .post-preview-body {
        font-size: 1em;
    }
}

.post-preview-body>h1 {
    color: white;
}

.post-preview-fade {
    background: linear-gradient(0deg, transparent, rgba(0, 0, 0, 0.5));
}

.post-preview-icon {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 3em;
}

.post-identifier {
    text-align: left;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(45deg, var(--sky-colour), transparent);
    padding: .5em;
    cursor: pointer;
    color: ghostwhite;

    font-size: 1em;
}

@media screen and (min-width: 1024px) {
    .post-identifier {
        font-size: .75em;
    }
}

.post-identifier-date {
    font-size: 1.5em;
}

@media screen and (min-width: 1024px) {
    .post-identifier-date {
        font-size: 1.25em;
    }
}

.post-header {
    display: flex;
    justify-content: space-between;
    color: var(--sky-colour-bottom-facing);
}

.post-date {
    text-align: end;
}

/* itchio */

.itchio {
    background-size: cover;
    background-position: center;
    width: 100%;
    aspect-ratio: 16/9;
    text-align: center;
    position: relative;
}

.itchio>.button {
    background-color: var(--sky-colour);
    padding: .5em;

    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

/* navigation */

.nav-breadcrumbs {
    /* font-size: .8em; */
}

.nav-breadcrumbs,
.nav-breadcrumbs>a {
    color: var(--sky-colour-bottom-facing);
}

.post-navigator {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}

.next-link,
.previous-link {
    width: 50%;
}

.next-link {
    text-align: left;
}

.previous-link {
    text-align: right;
}

/* youtube embed */

.embed-container iframe {
    width: 100%;
    /* TODO: restar titulo? */
    max-height: 100vh;
}

.embed-container-vertical iframe {
    aspect-ratio: 9 / 16;
}

.embed-container-horizontal iframe {
    aspect-ratio: 16 / 9;
}

/* tiktok embed */
.embed-tiktok {
    width: 325px !important;
}

/* gallery */
.grid-container {
    display: grid;
    grid-template-columns: repeat(var(--gallery-columns), minmax(0, 1fr));
    grid-auto-rows: 1fr;
    gap: .5em;
}

/* add an invisible element to enforce proportions */
.grid-container::before {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    content: '';
    width: 0;
    padding-bottom: 100%;
}

/* force the first element to be on the first row and column */
.grid-container > div:first-child {
    grid-row-start: 1;
    grid-column-start: 1;
    color: red;
}

.grid-container>div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    overflow: hidden;
}

.grid-container>.square {
    grid-column-end: span 2;
    grid-row-end: span 2;
}

.grid-container>.vertical {
    grid-column-end: span 1;
    grid-row-end: span 2;
}

.grid-container>.horizontal {
    grid-column-end: span 3;
}

.grid-container>.breaker {
    grid-column-end: span var(--gallery-columns);
    grid-row-end: span 2;
}

/* short page */
.short-links {
    font-size: 1.5em;
    display: flex;
    gap: 1.5em;
    justify-content: center;
}