.no-margin-top {
    margin-top: 0;
}

/* post preview */
.post-preview {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    color: white;

    position: relative;
}

.post-preview-link {
    position: absolute;
    cursor: pointer;
    height: 100%;
    width: 100%;
}

.post-preview-link,
.post-preview-fade,
.post-preview-body {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0
}

.post-preview-body {
    padding: 1em;
    width: auto;
    height: 100%;
}

.post-preview-body>h2 {
    color: white;
}

.post-preview-fade {
    background: linear-gradient(0deg, transparent, rgba(0, 0, 0, 0.5));
}

.post-preview-icon {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 3em;
}

.post-identifier {
    text-align: left;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-image: linear-gradient(45deg, var(--sky-colour), transparent);
    padding: .5em;
    cursor: pointer;
}

.post-identifier-date {
    font-size: 1.5em;
}

.post-header {
    display: flex;
    justify-content: space-between;
    color: var(--sky-colour-bottom-facing);
}

.post-date {
    text-align: end;
}

/* itchio */

.itchio {
    background-size: cover;
    background-position: center;
    width: 100%;
    aspect-ratio: 16/9;
    text-align: center;
    position: relative;
}

.itchio>.button {
    background-color: var(--sky-colour);
    padding: .5em;

    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

/* navigation */

.nav-breadcrumbs {
    /* font-size: .8em; */
}

.nav-breadcrumbs,
.nav-breadcrumbs>a {
    color: var(--sky-colour-bottom-facing);
}

.post-navigator {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}

.next-link,
.previous-link {
    width: 50%;
}

.next-link {
    text-align: left;
}

.previous-link {
    text-align: right;
}

/* youtube embed */

.embed-container iframe {
    width: 100%;
    /* TODO: restar titulo? */
    max-height: 100vh;
}

.embed-container-vertical iframe {
    aspect-ratio: 9 / 16;
}

.embed-container-horizontal iframe {
    aspect-ratio: 16 / 9;
}

/* tiktok embed */
.embed-tiktok {
    width: 325px !important;
}

/* gallery */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-auto-rows: 1fr;
    gap: .5em;
    /* background-color: #999; */
    /* padding: .5em; */
}

/* add an invisible element to enforce proportions */
.grid-container::before {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    content: '';
    width: 0;
    padding-bottom: 100%;
}

/* force the first element to be on the first row and column */
.grid-container > div:first-child {
    grid-row-start: 1;
    grid-column-start: 1;
    color: red;
}

.grid-container>div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    /* font-size: 30px; */
    overflow: hidden;
}

.grid-container>.square {
    grid-column-end: span 2;
    grid-row-end: span 2;
}

.grid-container>.vertical {
    grid-column-end: span 1;
    grid-row-end: span 2;
}

/* short page */
.short-links {
    display: flex;
    gap: 1.5em;
    justify-content: center;
}