---
layout: site-grandeur
---

<h1>{{ page.title }}</h1>

{% if page.short %}
{% include embed-youtube.html id=page.short aspect="vertical" %} 
{% elsif page.tiktok %}
<script async src="https://www.tiktok.com/embed.js"></script>
<blockquote class="tiktok-embed" 
    cite="https://www.tiktok.com/@{{ page.username }}/video/{{ page.tiktok }}"
    data-video-id="{{ page.tiktok }}" style="max-width: 605px;min-width: 325px;" muted>
    <section>
    </section>
</blockquote>
{% endif %}

Ver mas en:
{% if page.short %}
    youtube
{% endif %}
{% if page.tiktok %}
    tiktok
{% endif %}

{% include post-navigator.html post=page %}